.container {
  justify-content: center;
  padding: 50px 0 0 0;
  overflow: hidden;
  .people_view {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    .people_wrap {
      width: 50%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
      width: 100%;
      .count_wrap {
        display: flex;
        justify-content: center;
        gap: 20px;
        & > div {
          width: 60px;
          font-size: 40px;
        }
      }
      .count_btn {
        width: 50px;
        height: 50px;
        border: 3px #41b883 solid;
        border-radius: 50%;
        &.disabled {
          border: 3px #888 solid;
          pointer-events: none;
          span {
            color: #888;
          }
        }
        span {
          font-size: 44px;
          color: #41b883;
        }
      }
    }
    .setting_wrap {
      position: relative;
      .setting_error {
        position: absolute;
        top: calc(50% - -36px / 2);
        left: calc(50% - 111px / 2);
        font-size: 16px;
        color: red;
      }
      & > span {
        position: relative;
        left: -70px;
        font-size: 25px;
      }
      .btn_area {
        position: absolute;
        top: 0;
        right: 18px;
        display: flex;
        gap: 6px;

        button {
          border: 2px #999 solid;
          border-radius: 5px;
          font-size: 18px;
          width: 66px;
          height: 25px;
          span {
            font-size: 15px;
          }
        }
      }
    }
    .start_btn {
      border: 3px #333 solid;
      background-color: #41b883;
      border-radius: 10px;
      font-size: 20px;
      margin: 0 auto;
      width: 100px;
      height: 60px;
    }
    .input_wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px 0;
      padding-right: 25px;
      .input_item {
        display: flex;
        label {
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 20px;
          font-weight: bold;
          width: 30px;
          cursor: pointer;
        }
        input {
          display: block;
          border: 3px #41b883 solid;
          width: 70px;
          height: 40px;
          border-radius: 5px;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          outline: none;
        }
      }
    }
  }
  .ladder_view {
    margin: 0 auto;
    padding: 0 3%;
    max-width: 760px;
    min-width: 300px;
    gap: 30px;
    text-align: center;
    .ladder_wrap {
      position: relative;
      background-color: #45655a;
      border-radius: 10px;
      padding: 20px;
      white-space: nowrap;
      overflow-x: auto;
      .avatar_wrap {
        margin: 0 auto;
        width: fit-content;
        .avatar {
          display: inline-block;
          width: 50px;
          height: 50px;
          cursor: pointer;
        }
      }
      .canvas_wrap {
        margin: 0 auto;
        overflow: hidden;
      }
      .ladderItem_wrap {
        .result {
          display: inline-block;
          width: 50px;
          height: 50px;
          border: 2px #41b883 solid;
          border-radius: 50%;
        }
      }
    }
  }
}
